body {
	font-weight: Helvetica; 
	margin: 0;
	background: rgb(255, 0, 38);
}
h1 {
	font-weight: 100;
	margin-bottom: 0px;
	font-weight: bold;
}

p {
	font-weight: lighter;
	font-size: 30px;
	opacity: 0.8;

}
.logo {
	height: 80px;
	width: 80px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;

}